<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div style="text-align: center;">
        <br>
        <h4>성적입력</h4>
        <br>
    </div>
    <form class="container" method="post" th:object="${dto}">
        <div class="mb3">
            <label class="form-label">학번</label>
            <input type="text" class="form-control" th:field="*{exam_no}">
        </div>
        <div class="mb3">
            <label class="form-label">국어점수</label>
            <input type="text" class="form-control" th:field="*{kor}">
        </div>
        <div class="mb3">
            <label class="form-label">수학점수</label>
            <input type="text" class="form-control" th:field="*{math}">
        </div>
        <div class="mb3">
            <label class="form-label">영어점수</label>
            <input type="text" class="form-control" th:field="*{eng}">
        </div>
        <div class="mb3">
            <label class="form-label">역사점수</label>
            <input type="text" class="form-control" th:field="*{his}">
        </div>
        <input type="submit" value="등록하기" class="btn btn-primary">
        <a href="/">돌아가기</a>
    </form>
</div>
</body>
</html>