<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div style="text-align: center;">
        <br>
        <h4>학생목록</h4>
        <br>
    </div>
    <table class="table">
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>학년</th>
            <th>반</th>
            <th>번호</th>
            <th>성별</th>
            <th>전화번호</th>
            <th>주소</th>
        </tr>
        <tr th:each="student : ${dto}" th:object="${student}">
            <td th:text="*{student_no}">학번</td>
            <td th:text="*{name}">이름</td>
            <td th:text="*{student_no.substring(0, 1)}">학년</td>
            <td th:text="*{student_no.substring(1, 3)}">반</td>
            <td th:text="*{student_no.substring(3, 5)}">번호</td>
            <td th:text="*{gender}">성별</td>
            <td th:text="*{phone}">전화번호</td>
            <td th:text="*{address}">주소</td>
        </tr>
    </table>
</div>
</body>
</html>