<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <br>
    <table class="table" border="1">
        <tr>
            학사관리 프로그램 <br>
            <br>
            본 프로그램은 학생정보와 성적정보 데이터베이스를 구축하고 성적관리 프로그램을 작성하는 프로그램 입니다. <br>
            <br>
            많이 이용해 주세요.
        </tr>
    </table>
</div>
</body>
</html>